.tasks-form-div {
  // height: 0;
  position: relative;
  background-color: #181818;
  overflow: hidden;
  height: 120px;

  .tasks-label {
    background-color: #644545;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: fit-content;
    padding: 4px 20px;
    margin-top: 10px;
    h3 {
      font-weight: 200;
    }
  }
  .task-input-wrap {
    width: fit-content;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    label {
      position: absolute;
      top: 48%;
      left: 5px;
      transform: translateY(-50%);
      font-weight: 200;
      pointer-events: none;
      padding: 4px 8px;
      border-radius: 10px;
      transition: transform 200ms ease, top 200ms ease, font-size 200ms ease;
    }

    .task-input {
      // border-radius: 10px;
      border-radius: 10px;
      padding: 15px;
      width: 250px;
      background-color: #2b2b2b;
      border: none;
      color: #eee;
      font-weight: 200;
      font-size: 1rem;
      font-family: 'Outfit';
      letter-spacing: 1px;
      outline: none;
      &:not(:placeholder-shown):valid + label{
        font-size: 0.8rem;
      top: 12px;
      background-color: #1b1b1b;
      }
    }
    &:focus-within label,
    &:focus label {
      font-size: 0.8rem;
      top: 12px;
      background-color: #1b1b1b;
    }
   
  } //input:valid[required]

  .options-div{
    display: flex;
    // flex-direction: column;
    position: absolute;
    right: 10px;
    top: 10px;
    gap: 10px;

    button{
      font-family: 'Outfit';
      padding: 4px 20px;
      font-size: 1rem;
      border-radius: 10px;
      background-color: #456448;
      font-weight: 200;
      border: 0;
      outline: none;
    }
  }
}
