.timer-card-component{
    /* border: 1px solid red; */
    padding: 1rem;
    box-shadow: 8px 8px 6px rgba(0, 0, 0, 0.3);
    background-color: #333;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    & .daily-span{
        position: absolute;
        top: -10px;
        left: -25px;
        background-color: rgb(40, 138, 184);
        border-radius: 10px;
        padding: 4px 10px;
        font-weight: 200;
        font-size: .8rem;
    }

    & .input-wrap{
        display: flex;
        font-weight: 200;
        gap: .5rem;
        align-items: center;
        /* width: fit-content; */
        transition: background-color 300ms ease;
        /* border: 1px solid pink; */
        flex: 1;
        overflow: hidden;
        padding: 5px 15px;
        height: 40px;
        user-select: none;
        border-radius: 2px;
        /* background-color: rgba(99, 100, 99, 0.493); */
        /* margin-top: 1rem;         */
        
        .check{
            width: 1.1rem;
            height: 1.1rem;
        }
        
        .check + label{
            padding: 5px;
        }
        .check + input{
            padding: 5px 10px;
            border-radius: 5px;
            outline: none;
            border: none;
            font-size: 1rem;
            font-family: 'Outfit';
            font-weight: 300;
        }
       
    }
   
    & .input-wrap.checked{
        background-color: rgb(88, 168, 88);
        box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.301);
    }
    & .input-wrap.editing{
        background-color: rgba(78, 78, 78, 0.336);
        box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.301);
    }
    & .input-wrap.editing input[type="checkbox"]{
        opacity: .2;
        pointer-events: none;
    }




    .timer-options{
        flex: 1;
    }
    .buttons-div{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        gap: 10px;

        & button{
            border: 1px solid rgb(94, 82, 82);
            width: fit-content;
            display: flex;
            justify-content: flex-end;
            gap: 10px;
            border-radius: 6px;
            font-family: 'Outfit';
            padding: 5px 10px;
        }
    }

}