.reminder {
    /* border: 1px solid red; */
    background-color: #222;
    width: 450px;
    /* initial with */
    min-height: 100px;
    border-radius: 17px;
    padding: 1.5rem;

    & .title h2 {
        font-size: 2.5rem;
        font-weight: 500;
        line-height: .9;
        margin-bottom: 1.5rem;
    }

    & .form {
        /* border: 1px solid red; */
        height: 80px;
        & input {
            background-color: #474747;
            border: none;
            outline: none;
            height: 35px;
            border-radius: 9px;
            color: #fff;
        }

        & input::placeholder {
            font-weight: 100;
            padding-left: 10px;
            color: #fff;
            font-size: 15px;
            font-family: 'Outfit';
        }

        & .name-input {
            /* border: 1px solid red; */
            padding-left: 1rem;
            width: 100%;
            font-size: .9rem;
            font-family: 'Outfit';
            letter-spacing: 1px;
            font-weight: 300;
        }

        & .date-input {
            width: 70px;
            text-align: center;

        }

        & .form-inputs {
            gap: .4rem;
            margin-top: .4rem;
            display: flex;
            /* border: 1px solid red; */
            /* width: fit-content; */



            & .buttons {
                flex: 1;
                display: flex;
                justify-content: flex-end;
                gap: .4rem;
                /* border: 1px solid red; */

                & button {
                    background-color: #444;
                    padding: .5rem 1rem;
                    border-radius: 9px;
                    font-weight: 100;
                    font-family: 'outfit';
                    font-size: 1rem;
                    background-color: #C16A6A;

                }

                & .add-btn {
                    background-color: #6FAD64;
                }
            }
        }

    }








    /* ////////////////////////////////////////////////////////////////// */

.reminders-container{
    /* border: 1px solid red; */
    /* height: 200px; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 1.5rem;
}


}