.task-card{
    background-color: #2C2B2B;
    padding: .5rem;
    transition: background-color 300ms ease ;


    & .top{
        /* border: 1px solid red; */
        display: flex;
        padding: .5rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        align-items: center;
        gap: .5rem;
        height: 40px;
        position: relative;

        & .check-btn{
            /* border: 1px solid red; */
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 300ms ease ;
        }
        & .check-btn:hover{
            background-color: rgba(255, 255, 255, 0.164);
        }

        & .item-name{
            font-weight: 300;
        }

        & .display{
            /* border: 1px solid red; */
            position: absolute;
            left: 50%;
            padding: 1rem;
            top: 10%;
            transform: translate(-50%, -50%);

            & .display-text{
                font-weight: 200;
            }
        }
    }
}
& .task-card.finished{
    background-color: rgb(96, 177, 96);
}