.tasks-helper {
  .tasks-header {
    width: 90vw;
    display: flex;
    margin: 0 auto;
    padding: 1rem;
    user-select: none;

    h1 {
      font-weight: 200;
      flex: 3;
    }
    .dates-options {
      display: flex;
      gap: 5px;

      button {
        transition: background-color 300ms ease, color 300ms ease;
        width: fit-content;
        min-width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 200;
        font-family: "Outfit";
        gap: 10px;
        padding: 5px 10px;
        background-color: #242424;
        border-radius: 10px;
      }
    }
  }
  .tasks-body-div {
    .tasks-form {
      transition: height 350ms ease, opacity 450ms ease;
      opacity: 0;
      height: 0;
      // border: 1px solid rgb(255, 255, 255);
      overflow: hidden;

      &.open {
        height: 120px;
        opacity: 1;
      }
    }
    .tasks-container-div{
      // border: 1px solid red;
      //no padding
      //no margin
      //get height dinamically to animate :/

      .tasks-container-inner{
        padding: 1rem;
        // border: 1px solid lightblue;
        display: flex;
        flex-direction: column;
        gap: 1rem;
      
      }
    }
  }
}
