.timer-helper {
  // padding: 1rem;
  display: flex;
  flex-direction: column;
  transition: transform 300ms ease;
  .timer-header {
    user-select: none;
    width: 90vw;
    padding: 1rem;
    margin: 0 auto;
    display: flex;
    .timer-title {
      font-size: 2rem;
      flex: 3;
      font-weight: 200;
    }
    .timer-options {
      display: flex;
      gap: 5px;

      button {
        transition: background-color 300ms ease, color 300ms ease;
        width: fit-content;
        min-width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 5px 10px;
        background-color: #242424;
        border-radius: 10px;
        font-weight: 200;
        font-family: 'Outfit';
      }
    }
  }

  .timer-form-wrapper {
    transition: visibility 400ms ease, opacity 400ms ease, height 400ms ease;
    visibility: hidden;
    opacity: 0;
    // display: none;
    overflow: hidden;
    height: 0;
  }

  .timer-form-wrapper.open {
    display: block;
    visibility: visible;
    opacity: 1;
    height: 210px;
    margin-bottom: 1rem;
  }
  // .items-container.open {
  //   opacity: 1;
  //   height: fit-content;
  // }
  .items-wrapper {
    // border: 1px solid blue;
    width: 90%;
    margin: 0 auto;
    transition: visibility 400ms ease, opacity 400ms ease, height 400ms ease;
    visibility: hidden;
    opacity: 0;
    display: flex;
    // display: none;
    overflow: hidden;
    height: 0;

    .items-inner-wrap{
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
    }
  }

  .items-wrapper.open {
    display: block;
    visibility: visible;
    opacity: 1;
    height: fit-content;
  }
}
